.Login {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 12px;
  margin: 0px auto;
  box-sizing: border-box;
  line-height: normal;
  max-width: 1000px;
  max-height: 500px;
  margin-top: 5rem;
  border: solid 2px;
  border-color: #606060;
  display: flex;
  background-image: url("../assets/Blog/Login_Bg5.png");
  /* background-image: url("../assets/Blog/Login_Bg3.png"); */
  background-size: cover;
  background-repeat: no-repeat;
}

.LoginForm {
  left: 50%;
  width: 50%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.Login_Form_Title {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  margin: 10% auto 20% auto;
}
.Input_Container {
  margin: 0 auto 2% auto;
  height: 40px;
  width: 300px;
  box-sizing: border-box;
  border-radius: 5px;
  border: none;
}

.Login_Input_Box {
  margin: 0 auto 2% auto;
  height: 40px;
  width: 300px;
  box-sizing: border-box;
  padding-left: 12%;
  border-radius: 5px;
  border: 2px solid #505050;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Login_Input_Box:focus {
  border: 2px solid #d46f13;
}

input:focus::placeholder {
  color: transparent;
}

.Login_InputIcon {
  position: absolute;
  max-height: 16px;
  padding: 12px;
}

.Login_Button {
  margin: 22% auto 10% auto;
  height: 40px;
  width: 300px;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.Login_Button:disabled {
  background-image: linear-gradient(to right, #4a494f, #807e86);
  color: #ccc;
}

.Login_Button:enabled {
  cursor: pointer;
  background-image: linear-gradient(to right, #d46f13, #d05601);
}

.Login_Button:disabled:hover {
  box-shadow: 0 0px 15px rgba(182, 181, 181, 0.5);
}

.Login_Button:enabled:hover {
  box-shadow: 0 0px 15px rgba(208, 86, 1, 0.5);
}

@media screen and (max-width: 720px) {
  .Login {
    background-image: none;
  }
  .LoginForm {
    display: flex;
    left: 0px;
    margin: 0px auto;
    width: auto;
  }
  .Login_Form_Title {
    min-width: 300px;
    text-align: center;
    margin: 10px auto 15px auto;
  }
  .Login_Button {
    margin: 10% auto 10% auto;
  }
}

/* Animation */

.fadeInUp {
  transition: 0.5s all ease-in-out;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 60px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 60px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}
